.texto1{

margin-top: 120px;
margin-left: 6%;  
margin-right: 8%;   
font-family: "Candara";
font-size: 1.2em;
font-weight: bold;
text-align: justify;
float: left;
color: #4a4a4b;

}

.texto1 h1{

    font-size: 1.8em;

}

.texto2{

    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 6%;  
    margin-right: 8%;   
    font-family: "Candara";
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
    float: left;
    color: #4a4a4b;
    
    }
    
    .texto2 h1{
    
        font-size: 1.8em;
    
    }